@font-face {
  font-family: "Montserrat";
  font-weight: 400;
  font-style: normal;
  src: url("./fonts/Montserrat-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat";
  font-weight: 400;
  font-style: italic;
  src: url("./fonts/Montserrat-Italic.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat";
  font-weight: 700;
  font-style: normal;
  src: url("./fonts/Montserrat-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat";
  font-weight: 900;
  font-style: normal;
  src: url("./fonts/Montserrat-ExtraBold.ttf") format("truetype");
}

/* Reset CSS */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}
/* Applies to Chrome, Safari, Edge, Opera */
::-webkit-scrollbar {
  width: 8px; /* makes the scrollbar thin */
  height: 8px; /* horizontal scrollbar if needed */
}

::-webkit-scrollbar-track {
  background: transparent; /* no track background or set a color */
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.4); /* darkish thumb */
  border-radius: 8px;
  border: 2px solid transparent; /* optional space around thumb */
  background-clip: content-box; /* ensures border is transparent */
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.6);
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

a {
  text-decoration: none;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

.searchicon {
  width: 20px;
  object-fit: contain;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
body {
  font-family: "Montserrat", sans-serif !important;
}

.navbar {
  background-color: white !important;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.navbar-nav .nav-link {
  color: #a00 !important;
}
.btn-danger {
  background-color: #a00;
  border: none;
}
.btn-danger:hover {
  background-color: #800;
}

.bgimage {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.bgimage::before {
  content: "";
  position: absolute;
  top: -346px;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 1138px;
  background-image: url("./imgs/plsqlvector.png");
  background-size: cover;
  background-position: center;
  transition: transform 1s cubic-bezier(0.22, 1.61, 0.36, 1);
  transform-origin: bottom center;
  -webkit-transition: transform 1s cubic-bezier(0.22, 1.61, 0.36, 1);
  -moz-transition: transform 1s cubic-bezier(0.22, 1.61, 0.36, 1);
  -ms-transition: transform 1s cubic-bezier(0.22, 1.61, 0.36, 1);
  -o-transition: transform 1s cubic-bezier(0.22, 1.61, 0.36, 1);
}

.bgimage.active::before {
  transform: rotate(180deg) translateY(20px);
  -webkit-transform: rotate(180deg) translateY(20px);
  -moz-transform: rotate(180deg) translateY(20px);
  -ms-transform: rotate(180deg) translateY(20px);
  -o-transform: rotate(180deg) translateY(20px);
}

.plsql {
  color: white;
  position: relative;
}
.plsql h2 {
  font-size: 100px;
  font-weight: bold;
}

.plsqlbook {
  width: 827px;
  position: absolute;
  top: -290px;
  left: -89px;
}

.plsql p {
  padding: 60px 0;
  font-size: 21px;
}

.plsqlbtn {
  border: none;
  padding: 15px 35px;
  font-weight: bold;
  border-radius: 10px;
  color: #f18d2f;
  border: 1px solid;
  transition: all 0.8s ease-in-out;
  -webkit-transition: all 0.8s ease-in-out;
  -moz-transition: all 0.8s ease-in-out;
  -ms-transition: all 0.8s ease-in-out;
  -o-transition: all 0.8s ease-in-out;
}
.plsqlbtn:hover {
  background: #f18d2f;
  color: white;
  border: 1px solid;
}

.plsqltext {
  margin-bottom: 140px;
  position: relative;
  top: -50px;
  line-height: 25px;
}

.secondcontent {
  position: relative;
 
}

.downloadbtn {
  border: none;
  padding: 15px 52px;
  font-weight: bold;
  border-radius: 10px;
  color: #fff;
  background-color: #1141f3;
  border: 1px solid #1141f3;
  transition: all 0.9s ease-in-out;
  -webkit-transition: all 0.9s ease-in-out;
  -moz-transition: all 0.9s ease-in-out;
  -ms-transition: all 0.9s ease-in-out;
  -o-transition: all 0.9s ease-in-out;
}

.downloadbtn:hover {
  border: none; 
  font-weight: bold;
  border-radius: 10px;
  background-color: #fff;
  color: #1141f3;
  border: 1px solid;
  transition: all 0.8s ease-in-out;
  -webkit-transition: all 0.8s ease-in-out;
  -moz-transition: all 0.8s ease-in-out;
  -ms-transition: all 0.8s ease-in-out;
  -o-transition: all 0.8s ease-in-out;
}

.sifarisetbtn {
  border: none;
  padding: 15px 35px;
  font-weight: bold;
  border-radius: 10px;
  color: #fff;
  background-color: transparent;
  border: 1px solid #fff;
  transition: all 0.8s ease-in-out;
  -webkit-transition: all 0.8s ease-in-out;
  -moz-transition: all 0.8s ease-in-out;
  -ms-transition: all 0.8s ease-in-out;
  -o-transition: all 0.8s ease-in-out;
}

.sifarisetbtn:hover {
  border: none;
  padding: 15px 35px;
  font-weight: bold;
  border-radius: 10px;
  background-color: #fff;
  color: #1141f3;
  border: 1px solid;
  transition: all 0.8s ease-in-out;
  -webkit-transition: all 0.8s ease-in-out;
  -moz-transition: all 0.8s ease-in-out;
  -ms-transition: all 0.8s ease-in-out;
  -o-transition: all 0.8s ease-in-out;
}

.author-card {
  background: #fff;
  border-radius: 15px;
  box-shadow: 0px 0px 10px rgba(255, 140, 0, 0.3);
  padding: 20px;
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 20px;
}
.author-card2 {
  background: #fff;
  border-radius: 15px;
  box-shadow: 0px 0px 10px rgba(255, 140, 0, 0.3);
  padding: 50px 20px;
  display: flex;
  position: relative;
  align-items: center;
  gap: 15px;
  margin-bottom: 20px;
}
.author-card img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 3px solid #ff8c00;
  padding: 1px;
}
.author-card2 img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 3px solid #ff8c00;
  padding: 3px;
}

.author-details h3 {
  margin: 0;
  font-size: 20px;
  margin-bottom: 15px !important;
  font-weight: bold;
}

.author-details {
  padding: 10px;
}

#navbarNav {
  flex-grow: 0 !important;
  font-size: 18px;
  font-weight: bold;
}

#navbarNav ul li {
  padding: 0 25px;
}

.author-details p {
  font-style: italic;
  font-size: 17px;
  margin: 10px 0 0;
}

.muellifler h2 {
  font-weight: 600;
  font-size: 40px;
  margin-bottom: 40px;
}

.author-card p {
  padding: 5px 0;
}

.author-details h3 {
  width: 210px;
  border-bottom: 1px solid #f18d2f;
  font-weight: bolder;
}

.author-card {
  background: #fff;
  border-radius: 15px;
  box-shadow: 0px 0px 10px rgba(255, 140, 0, 0.3);
  padding: 20px;
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 20px;
  position: relative;
}

.author-details h3 {
  margin: 0;
  font-size: 20px;
  font-weight: bold;
}

.expand {
  position: absolute;
  bottom: 12px;
  left: 50%;
  transform: translateX(-50%);
  background: #ff8c00;
  width: 40px;
  height: 20px;
  clip-path: polygon(50% 100%, 0 0, 100% 0);
  cursor: pointer;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
}

.card {
  background: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  text-align: left;
}

.profile {
  display: flex;
  align-items: center;
  gap: 10px;
}
.profile img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.content {
  margin-top: 10px;
  overflow: hidden;
  transition: all 0.7s ease-in-out;
  max-height: 60px;
  -webkit-transition: all 0.7s ease-in-out;
  -moz-transition: all 0.7s ease-in-out;
  -ms-transition: all 0.7s ease-in-out;
  -o-transition: all 0.7s ease-in-out;
}
.expanded {
  max-height: 500px;
}
.expand-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  cursor: pointer;
  width: 40px;
  height: 30px;
  background: transparent;
  border: none;
}

.hideablecontent {
  max-height: 56.4px;
  line-height: 20px;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

.hideablecontent.expanded {
  max-height: 500px;
}

.expanded.expand {
  transform: translateX(-50%) rotate(180deg);
  width: 60px;
  height: 25px;
}

.footer {
  text-align: center;
}

.partners-section {
  position: relative;
  padding-top: 30px;
  background-image: url("/imgs/footerrectangle.png");
  background-repeat: no-repeat;
  overflow: hidden;
  background-size: cover;
  overflow: hidden;
  height: 660px;
}

.partners-container {
  position: relative;
  width: 100%;
  padding: 40px 0;
  text-align: center;
}

.partners-content img {
  height: 350px;
  margin: 0 15px; /* Adjust margin between logos */
}

.partners-title {
  color: #fff;
  padding-top: 70px;
  font-size: 48px;
  font-weight: bold;
  text-align: start;
  margin-bottom: 20px;
}

.social-icons {
  margin-top: 10px;
}

.social-icons a {
  display: inline-block;
  margin: 0 10px;
  color: white;
  font-size: 24px;
  text-decoration: none;
}

.sqlfooter {
  width: 185px;
  left: -52px;
  position: relative !important;
  height: 100% !important;
  top: -276px;
}

.techbridge {
  width: 402px;
  right: -63px;
  position: relative !important;
  height: 100% !important;
  top: -245px;
}


#firstcontent ,#secondcontent{
  transition: all  0.4s ease-in-out;
  -webkit-transition: all  0.4s ease-in-out;
  -moz-transition: all  0.4s ease-in-out;
  -ms-transition: all  0.4s ease-in-out;
  -o-transition: all  0.4s ease-in-out;
}

#firstcontent.active {
  transform: scale(0.9);
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -ms-transform: scale(0.9);
  -o-transform: scale(0.9);
}
#secondcontent.active {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}
